.yiPASP1v{display:flex}.v71VlLMX{margin-right:5px;min-width:115px;width:20%}.LVdIPwcx{background:rgba(0,0,0,0);min-width:150px;width:80%;color:var(--primary-color);text-overflow:ellipsis;padding-left:5px;padding-right:5px}.LVdIPwcx:focus{outline:none}.fTN1PnWu{opacity:.7}
.MRM0S3Nd{display:flex;align-items:center}.Z1C6YFZ0{cursor:pointer}.Yv7EH3L0{fill:none}.QpbxqwVr{fill:var(--primary-color)}.ouStZWWc{cursor:auto}.F0rFWqhM{margin-left:10px}
.gx7eSUN9,.guWYv88A{width:100%}
