.textContainer {
    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }
}

.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.size_S {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_M {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_L {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_XL {
    .title {
        font: var(--font-xxl);
    }

    .text {
        font: var(--font-xl);
    }
}
