.articleDetails {
    min-height: 100%;
}

.avatarWrapper {
    width: 100%;
    display: flex;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.articleInfo {
    display: flex;
    align-items: center;

    .icon {
        margin-right: 10px;
    }
}

.block {
    margin-top: 16px;
}
