.inputWrapper {
    display: flex;
}

.label {
    margin-right: 5px;
    min-width: 115px;
    width: 20%;
}

.input {
    background: transparent;
    min-width: 150px;
    width: 80%;
    color: var(--primary-color);
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
}
