.listBox {
    display: flex;
    align-items: center;
}

.button {
    &.innerButtonDisabled {
        opacity: 0.7;
        cursor: default;

        &:hover {
            opacity: 0.7;
        }
    }
}

.options {
    position: absolute;
    z-index: var(--listbox-options-z-index);
    background: var(--listbox-bg);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
    left: max(20%, 115px);
    width: max-content;

    &.optionsBottomLeft {
        top: 100%;
        right: 0;

        &:not(.noLabel) {
            left: max(20%, 115px);
        }
    }

    &.optionsBottomRight {
        top: 100%;

        &.noLabel {
            left: 0;
        }
    }

    &.optionsTopLeft {
        bottom: 100%;
        right: 0;
    }

    &.optionsTopRight {
        bottom: 100%;
        left: 0;
    }

    &.noLabel {
        left: unset;
    }
}

.item {
    padding: 10px 20px;
}

.label {
    margin-right: 5px;
    min-width: 115px;
    width: 20%;
}
